.navbar {
  background-color: #3b49a1;
  color: #e9e9e9;
  padding-top: 1em;
}
.navbar ul {
  display: flex;
  max-width: 80%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;

  padding: 1em;
}

.navbar ul li {
  margin-right: 16px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0.5em 1em;
  border-radius: 15px;
  cursor: pointer;
}

.navbar ul li:hover {
  margin-right: 16px;
  background-color: rgba(0, 0, 0, 0.35);
  padding: 0.5em 1em;
  border-radius: 15px;
}

.navbar .break-line {
  width: 50%;
  background: rgba(255, 255, 255, 0.1);
  height: 1px;
  margin: 0 auto;
  margin-top: 0.5em;
}
